<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yash.ebaysearch" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".form"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".displayEbayData"
            android:label="@string/title_activity_display_ebay_data"
            android:parentActivityName=".form" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yash.ebaysearch.form" />
        </activity>
        <activity
            android:name=".itemDetails"
            android:label="@string/title_activity_item_details" >
        </activity>
    </application>

</manifest>
